.home-container {
  text-align: center;
  border: 1px solid;
  height: 600px;
}

img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.home-Htitle{
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.home-title{
  font-size: 2rem;
  font-weight: bold;
}

.home-title-container{
  margin-bottom: 0.5rem;
}